<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sheetsee.js</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='sheetsee.js, google, spreadsheet, visualize, data, javascript'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type='text/javascript' src='/js/highlight.pack.js'></script>
    <link rel='stylesheet' href='/assets/styles/atelier-forest.light.css'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic'>
    <link rel='stylesheet' href='{{rootstyle}}/assets/style.css'>
    <link rel="shortcut icon" href=''/>
  </head>
  <style>.hljs { background: #f0f0f0; color: #494949; }</style>
  <body>
    <div class="container">
      {{{content}}}

      <footer>
        <h4 id="getting-started">Getting Started</h4>
        <ul>
        <li><a href="{{rootdoc}}/about.html">About Sheetsee</a></li>
        <li><a href="{{rootdoc}}/building.html">Building Sheetsee</a></li>
        <li><a href="{{rootdoc}}/basics.html">Basics</a></li>
        </ul>
        <h4 id="ideas">Ideas</h4>
        <ul>
        <li><a href="{{rootdoc}}/fork-n-go.html">Fork-n-Go</a></li>
        <li><a href="{{rootdoc}}/tips.html">Tips!</a></li>
        <li><a href="{{rootdoc}}/custom-charts.html">Custom charts</a></li>
        </ul>
        <h4>Demos</h4>
        <ul>
        <li><a href="{{rootdemo}}/demos/demo-table.html">Table Demo</a></li>
        <li><a href="{{rootdemo}}/demos/demo-map.html">Map Demo</a></li>
        <li><a href="{{rootdemo}}/demos/demo-chart.html">Chart Demo</a></li>
        </ul>
        <h4 id="use">Use</h4>
        <ul>
        <li><a href="{{rootdoc}}/sheetsee-core.html">Sheetsee-core</a></li>
        <li><a href="{{rootdoc}}/sheetsee-tables.html">Sheetsee-tables</a></li>
        <li><a href="{{rootdoc}}/sheetsee-maps.html">Sheetsee-maps</a></li>
        <li><a href="{{rootdoc}}/sheetsee-charts.html">Sheetsee-charts</a></li>
        </ul>
        <h4 id="use">Contact</h4>
        <ul>
        <li><a href="http://www.twitter.com/jllord">@jllord</a></li>
        <li><a href="https://github.com/jlord/sheetsee.js/issues/new">File an issue</a></li>
        </ul>
        <h4><a href="http://jlord.github.io/sheetsee.js">Home Page</a></h4>
      </footer>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
