<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sheetsee.js</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='sheetsee.js, google, spreadsheet, visualize, data, javascript'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="{{rootstyle}}/favicon.png">
    <script type='text/javascript' src='{{rootstyle}}/assets/highlight.js'></script>
    <link rel='stylesheet' href='{{rootstyle}}/assets/highlight.css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic|Source+Code+Pro:400' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{rootstyle}}/assets/style.css'>
    <link rel="shortcut icon" href=''/>
  </head>
  <body class="{{name}}">
    <div class="container">
      {{{content}}}

      <footer>
        <h4 id="getting-started">Getting Started</h4>
        <ul>
        <li><a href="{{rootdoc}}/about.html">About Sheetsee</a></li>
        <li><a href="{{rootdoc}}/building.html">Building Sheetsee</a></li>
        <li><a href="{{rootdoc}}/basics.html">Basics</a></li>
        </ul>
        <h4 id="ideas">Ideas</h4>
        <ul>
        <li><a href="{{rootdoc}}/templates.html">Templates</a></li>
        <li><a href="{{rootdoc}}/tips.html">Tips!</a></li>
        </ul>
        <h4>Demos</h4>
        <ul>
        <li><a href="{{rootdemo}}/demos/demo-table.html">Table Demo</a></li>
        <li><a href="{{rootdemo}}/demos/demo-map.html">Map Demo</a></li>
        </ul>
        <h4 id="use">Use</h4>
        <ul>
        <li><a href="{{rootdoc}}/sheetsee-core.html">Sheetsee-core</a></li>
        <li><a href="{{rootdoc}}/sheetsee-tables.html">Sheetsee-tables</a></li>
        <li><a href="{{rootdoc}}/sheetsee-maps.html">Sheetsee-maps</a></li>
        </ul>
        <h4 id="use">Contact</h4>
        <ul>
        <li><a href="http://www.twitter.com/jllord">@jllord</a></li>
        <li><a href="https://github.com/jlord/sheetsee.js/issues/new">File an issue</a></li>
        </ul>
        <h4><a class="home-link" href="{{rootstyle}}/index.html">Home</a></h4>
      </footer>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
